<p-toast ></p-toast>
<section class="vh-100 gradient-custom" >
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong mb-5" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Login</h3>
            <form ngNativeValidate [formGroup]="mformularioLogin" (ngSubmit)="onLogin()">
              <div class="form-outline mb-4">
                <input type="text"  id="usuario" formControlName="username" class="form-control form-control-lg" placeholder="Usuario" required/>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" id="password" formControlName="password" class="form-control form-control-lg" placeholder="Contraseña" required/>
              </div>
  
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Login</button>
              </div>
  
            </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>